<h2 class="mb-5">
  @if(contact) {
    Editar
  } @else {
    Crear
  }contacto
</h2>

<div class="row row-cols-3 justify-content-center">
  @if(form) {
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="mb-3">
        <label for="name">Nombre</label>
        <input id="name" type="text" placeholder="Nombre" class="form-control" formControlName="name">
        @if(form.get('name')?.hasError('required')) {
          <p class="invalid-feedback d-block">¡El nombre es requerido!</p>
        }
      </div>
      <div class="mb-3">
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Email" class="form-control" formControlName="email">
        @if(form.get('email')?.hasError('required')) {
          <p class="invalid-feedback d-block">¡El email es requerido!</p>
        }
        @if(form.get('email')?.hasError('email')) {
          <p class="invalid-feedback d-block">¡El email no es válido!</p>
        }
      </div>
      <div class="mb-3">
        <label for="phone">Teléfono</label>
        <input id="phone" type="text" placeholder="Teléfono" class="form-control" formControlName="phone">
        @if(form.get('phone')?.hasError('required')) {
          <p class="invalid-feedback d-block">¡El teléfono es requerido!</p>
        }
      </div>

      <div class="text-end">
        <button type="button" class="btn btn-light ms-2" routerLink="/">Cancelar</button>
        <button class="btn btn-primary ms-2">
          @if(contact) {
            Editar
          }@else {
            Crear
          }
        </button>
      </div>
    </form>
  }
</div>
